
.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav ul{
    display: flex;
    
}
.header-nav ul li{
  list-style-type: none;
  margin: 0px 10px;
}
.header-nav ul li a {
    text-decoration: none;
    
}