
.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav ul{
    display: flex;
    
}
.header-nav ul li{
  list-style-type: none;
  margin: 0px 10px;
}
.header-nav ul li a {
    text-decoration: none;
    
}

/* responsive  */

@media only screen and (max-width : 688px){
    .header-nav{
        display: flex;
        flex-direction: column;
    }
    .header-nav ul{
        display: flex;
        flex-direction: column;
    }
}