
.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cae8f3;
}

.header-nav ul{
    display: flex;
    
}
.header-nav ul li{
  list-style-type: none;
  margin: 0px 10px;
}
.header-nav ul li a {
    text-decoration: none;
    font-weight: 700;
    /* padding: 15px; */
    color: #237d9e;
    /* background-color: #237d5e; */
    /* border-radius: 5px; */
}
/* .header-nav ul li a:hover{
    background-color: #237d9e;
} */

/* responsive  */

@media only screen and (max-width : 688px){
    .header-nav{
        display: flex;
        flex-direction: column;
    }
    .header-nav ul{
        display: flex;
        flex-direction: column;
    }
}