

.login-page{
    background-color: rgb(236, 173, 162);
    border-radius: 15px;
}

.login-page h2{
    background-color: white;
    padding-bottom: 15px;
}

.login-submit{
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    background-color: rgb(245, 136, 117);
}
.login-submit:hover{
    background-color: #237d9e;
}

.google-login{
    padding-top: 25px;
    background-color: white;
}